Raspberry Pi/NodeRed/detectStrangeMacAddr
[{"id":"aadede85.f6ac2","type":"inject","z":"402be12.187b72","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"x":147,"y":207,"wires":[["1e4a409b.24ab7f"]]},{"id":"1e4a409b.24ab7f","type":"exec","z":"402be12.187b72","command":"sudo python","addpay":false,"append":"/etc/nwsense/nmap/app.py","useSpawn":"","timer":"","name":"get suspicious","x":285,"y":280.5,"wires":[["252afd2b.1550a2","7619ca80.ef5504"],[],[]]},{"id":"9bcf0d39.f0f67","type":"debug","z":"402be12.187b72","name":"detec suspicious output","active":true,"console":"false","complete":"payload","x":796.0000610351562,"y":200,"wires":[]},{"id":"9d168cb0.66013","type":"http request","z":"402be12.187b72","name":"detect suspicious","method":"POST","ret":"txt","url":"54.165.49.28:4444/suspiciousMacs","tls":"","x":608.1666259765625,"y":136.33334350585938,"wires":[["9bcf0d39.f0f67"]]},{"id":"252afd2b.1550a2","type":"function","z":"402be12.187b72","name":"Null termination","func":"if (msg.payload.length > 0){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":442,"y":210,"wires":[["9d168cb0.66013","5dd48347.d7e88c"]]},{"id":"5dd48347.d7e88c","type":"debug","z":"402be12.187b72","name":"suspicious output","active":true,"console":"false","complete":"payload","x":778,"y":239,"wires":[]},{"id":"7619ca80.ef5504","type":"debug","z":"402be12.187b72","name":"","active":false,"console":"false","complete":"false","x":521,"y":269,"wires":[]}]