Raspberry Pi/NodeRed/updateBlockMacAddr
[{"id":"bd16347f.1bf0f8","type":"wiotp in","z":"402be12.187b72","authType":"d","deviceKey":"72ec0c12.cef894","deviceType":"","deviceId":"","command":"blockMacs","commandType":"g","name":"","x":135,"y":975,"wires":[["b3d0474d.5bc758"]]},{"id":"b3d0474d.5bc758","type":"function","z":"402be12.187b72","name":"args","func":"msg.payload = msg.payload.args;\nvar outputMsgs = [];\nvar words = msg.payload;\nfor (var w in words){\n    outputMsgs.push({payload:words[w]['addr']});\n}\nreturn [outputMsgs];","outputs":1,"noerr":0,"x":280,"y":901,"wires":[["37f98089.b7601"]]},{"id":"37f98089.b7601","type":"join","z":"402be12.187b72","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"0.3","count":"","x":401,"y":979,"wires":[["78fc35f5.7d1dbc","8925047.cd155f8"]]},{"id":"78fc35f5.7d1dbc","type":"debug","z":"402be12.187b72","name":"regMacs debug","active":true,"console":"false","complete":"payload","x":612,"y":978,"wires":[]},{"id":"8925047.cd155f8","type":"file","z":"402be12.187b72","name":"write to blockMacs","filename":"/etc/nwsense/nmap/blockMacs.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":618,"y":892,"wires":[]},{"id":"72ec0c12.cef894","type":"wiotp-credentials","z":"402be12.187b72","name":"pi","org":"g5lb4t","devType":"raspberry","devId":"b827ebb5fcf3"}]