Raspberry Pi/NodeRed/updateBlockWebsites
[{"id":"34c90887.06eb08","type":"wiotp in","z":"402be12.187b72","authType":"d","deviceKey":"72ec0c12.cef894","deviceType":"","deviceId":"","command":"blockWebs","commandType":"g","name":"blockWebs","x":139,"y":465,"wires":[["791f9525.ce6b0c"]]},{"id":"45050c61.74bc24","type":"debug","z":"402be12.187b72","name":"blockWebs debug","active":true,"console":"false","complete":"payload","x":636.1666870117188,"y":461.66668701171875,"wires":[]},{"id":"791f9525.ce6b0c","type":"function","z":"402be12.187b72","name":"args","func":"msg.payload = msg.payload.args;\nvar outputMsgs = [];\nvar words = msg.payload.toString().split(\",\");\nfor (var w in words){\n    outputMsgs.push({payload:words[w]});\n}\nreturn [outputMsgs];","outputs":1,"noerr":0,"x":287,"y":397,"wires":[["f92b26ac.85d448"]]},{"id":"f92b26ac.85d448","type":"join","z":"402be12.187b72","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"0.3","count":"","x":416,"y":462,"wires":[["45050c61.74bc24","f52b9edb.a2de8"]]},{"id":"f52b9edb.a2de8","type":"file","z":"402be12.187b72","name":"write to blockWebs","filename":"/etc/nwsense/nmap/testdomains","appendNewline":true,"createDir":false,"overwriteFile":"true","x":614,"y":396,"wires":[]},{"id":"72ec0c12.cef894","type":"wiotp-credentials","z":"402be12.187b72","name":"pi","org":"g5lb4t","devType":"raspberry","devId":"b827ebb5fcf3"}]