Raspberry Pi/NodeRed/updateRegisteredMacAddr
[{"id":"403d24c.84167dc","type":"wiotp in","z":"402be12.187b72","authType":"d","deviceKey":"72ec0c12.cef894","deviceType":"","deviceId":"","command":"regMacs","commandType":"g","name":"","x":123,"y":792,"wires":[["e9835958.fcb2c8"]]},{"id":"e9835958.fcb2c8","type":"function","z":"402be12.187b72","name":"args","func":"msg.payload = msg.payload.args;\nvar outputMsgs = [];\nvar words = msg.payload;\nfor (var w in words){\n    outputMsgs.push({payload:words[w]['addr']});\n}\nreturn [outputMsgs];","outputs":1,"noerr":0,"x":278,"y":718,"wires":[["9f9a8687.f414c8"]]},{"id":"9f9a8687.f414c8","type":"join","z":"402be12.187b72","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"0.3","count":"","x":399,"y":796,"wires":[["2609deac.003402","4ff688b.b99c978"]]},{"id":"2609deac.003402","type":"debug","z":"402be12.187b72","name":"regMacs debug","active":true,"console":"false","complete":"payload","x":610,"y":795,"wires":[]},{"id":"4ff688b.b99c978","type":"file","z":"402be12.187b72","name":"write to regMacs","filename":"/etc/nwsense/nmap/regMacs.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":606,"y":709,"wires":[]},{"id":"72ec0c12.cef894","type":"wiotp-credentials","z":"402be12.187b72","name":"pi","org":"g5lb4t","devType":"raspberry","devId":"b827ebb5fcf3"}]