Raspberry Pi/NodeRed/updateUnregisteredMacAddr
[{"id":"4a3cc98e.6e6fc8","type":"wiotp in","z":"402be12.187b72","authType":"d","deviceKey":"72ec0c12.cef894","deviceType":"","deviceId":"","command":"unregMacs","commandType":"g","name":"","x":132.1666717529297,"y":617.0000152587891,"wires":[["2c589fe3.1fe51"]]},{"id":"38fff337.0ca0cc","type":"file","z":"402be12.187b72","name":"write to unregMacs","filename":"/etc/nwsense/nmap/unregMacs.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":597.5,"y":555.6666870117188,"wires":[]},{"id":"ec401e5f.480b8","type":"join","z":"402be12.187b72","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"0.3","count":"","x":412,"y":640,"wires":[["38fff337.0ca0cc","9b80529a.b4371"]]},{"id":"2c589fe3.1fe51","type":"function","z":"402be12.187b72","name":"args","func":"msg.payload = msg.payload.args;\nvar outputMsgs = [];\nvar words = msg.payload.toString().split(\",\");\nfor (var w in words){\n    outputMsgs.push({payload:words[w]});\n}\nreturn [outputMsgs];","outputs":1,"noerr":0,"x":295,"y":554,"wires":[["ec401e5f.480b8"]]},{"id":"9b80529a.b4371","type":"debug","z":"402be12.187b72","name":"unregMacs debug","active":true,"console":"false","complete":"payload","x":623.1666259765625,"y":640.0000610351562,"wires":[]},{"id":"72ec0c12.cef894","type":"wiotp-credentials","z":"402be12.187b72","name":"pi","org":"g5lb4t","devType":"raspberry","devId":"b827ebb5fcf3"}]